In [27]:
import pandas as pd

file_path = "../resource/holding.csv"
df = pd.read_csv(file_path, nrows=1000000)

In [28]:
df.to_csv("../resource/holding_min.csv", index=0)

In [29]:
df.head()

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
0,2998623,2020/11/30,1,2021/01/08,2.55,7078982.0,3.103426e+08,GENERAL MOTORS CO,37045V10
1,2998623,2020/11/30,2,2021/01/08,1.98,3087680.0,2.412404e+08,COGNIZANT TECHNOLOGY SOLS CORP,19244610
2,2998623,2020/11/30,3,2021/01/08,1.89,3714760.0,2.296836e+08,MORGAN STANLEY DEAN WITTER & CO,61744644
3,2998623,2020/11/30,4,2021/01/08,1.75,2815186.0,2.132503e+08,PHILIP MORRIS INTERNATIONAL INC,71817210
4,2998623,2020/11/30,5,2021/01/08,1.65,5248941.0,2.011394e+08,CORTEVA INC,22052L10

In [30]:
df.loc[[1, 3, 5, 7], :]

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
1,2998623,2020/11/30,2,2021/01/08,1.98,3087680.0,2.412404e+08,COGNIZANT TECHNOLOGY SOLS CORP,19244610
3,2998623,2020/11/30,4,2021/01/08,1.75,2815186.0,2.132503e+08,PHILIP MORRIS INTERNATIONAL INC,71817210
5,2998623,2020/11/30,6,2021/01/08,1.64,866386.0,1.997713e+08,GOLDMAN SACHS GROUP INC,38141G10
7,2998623,2020/11/30,8,2021/01/08,1.60,5045923.0,1.939653e+08,AMERICAN INTERNATIONAL GROUP INC,02687478

In [31]:
df.loc[[1, 3, 5, 7], :][
    ["portno", "report_dt", "security_rank"]
]

    portno   report_dt  security_rank
1  2998623  2020/11/30              2
3  2998623  2020/11/30              4
5  2998623  2020/11/30              6
7  2998623  2020/11/30              8

In [32]:
df.loc[[1, 3, 5, 7], ["portno", "report_dt", "security_rank"]]

    portno   report_dt  security_rank
1  2998623  2020/11/30              2
3  2998623  2020/11/30              4
5  2998623  2020/11/30              6
7  2998623  2020/11/30              8

In [33]:
df[4:10][
    ["portno", "report_dt", "security_rank"]
]

    portno   report_dt  security_rank
4  2998623  2020/11/30              5
5  2998623  2020/11/30              6
6  2998623  2020/11/30              7
7  2998623  2020/11/30              8
8  2998623  2020/11/30              9
9  2998623  2020/11/30             10

In [34]:
df.columns

Index(['portno', 'report_dt', 'security_rank', 'eff_dt', 'percent_tna',
       'nbr_shares', 'market_val', 'security_name', 'cusip'],
      dtype='object')

In [35]:
df.dtypes

portno            object
report_dt         object
security_rank      int64
eff_dt            object
percent_tna      float64
nbr_shares       float64
market_val       float64
security_name     object
cusip             object
dtype: object

In [36]:
df.head(1)

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
0,2998623,2020/11/30,1,2021/01/08,2.55,7078982.0,3.103426e+08,GENERAL MOTORS CO,37045V10

In [37]:
df["portno"].unique()

array(['2998623', '2998638', '2998809', ..., '3092616', '3092619',
       '3092652'], shape=(3867,), dtype=object)

In [38]:
len(df["portno"].unique())

3867

In [39]:
df["portno"].unique().__len__()

3867

In [40]:
df["nbr_shares"].mean()

np.float64(49922721.541444)

In [41]:
df["nbr_shares"].abs()

0         7078982.0
1         3087680.0
2         3714760.0
3         2815186.0
4         5248941.0
            ...
999995       8556.0
999996       2208.0
999997      13662.0
999998       1794.0
999999      10902.0
Name: nbr_shares, Length: 1000000, dtype: float64

In [42]:
df["nbr_shares"].std()

np.float64(11762813518.64225)

In [43]:
df["nbr_shares"].var()

np.float64(1.3836378187435288e+20)

In [44]:
df["nbr_shares"].abs() + 1

0         7078983.0
1         3087681.0
2         3714761.0
3         2815187.0
4         5248942.0
            ...
999995       8557.0
999996       2209.0
999997      13663.0
999998       1795.0
999999      10903.0
Name: nbr_shares, Length: 1000000, dtype: float64

In [45]:
df["nbr_shares"].abs() + df["security_rank"]

0         7078983.0
1         3087682.0
2         3714763.0
3         2815190.0
4         5248946.0
            ...
999995       8579.0
999996       2232.0
999997      13687.0
999998       1820.0
999999      10929.0
Length: 1000000, dtype: float64

In [46]:
"""
select
    portno
    , count(1)
from holding
group by portno;
"""

df["portno"].value_counts()

portno
3076812    10798
3062442     9285
3092256     8456
307883d     8331
3062436     7676
           ...
3075153        1
307512c        1
3073329        1
3080052        1
3082554        1
Name: count, Length: 3867, dtype: int64

In [47]:
df2 = pd.DataFrame(
    {
        'num_legs': [2, 4, 4, 6],
        'num_wings': [2, 0, 0, 0]
    },
    index=['falcon', 'dog', 'cat', 'ant']
)
df2

        num_legs  num_wings
falcon         2          2
dog            4          0
cat            4          0
ant            6          0

In [48]:
df2.value_counts()

num_legs  num_wings
4         0            2
2         2            1
6         0            1
Name: count, dtype: int64

In [49]:
df.describe()

        security_rank     percent_tna    nbr_shares    market_val
count  1000000.000000  1000000.000000  1.000000e+06  1.000000e+06
mean       878.182552        0.313768  4.992272e+07  8.295992e+06
std       1319.490208        1.713193  1.176281e+10  8.153384e+07
min          1.000000     -200.000000 -4.398750e+12 -7.381045e+09
25%        116.000000        0.010000  2.069500e+04  1.783209e+05
50%        398.000000        0.050000  2.000000e+05  8.666431e+05
75%       1090.000000        0.210000  1.208042e+06  3.516512e+06
max      12388.000000      300.080000  6.667220e+12  1.862818e+10

In [50]:
df.groupby("portno").size()

portno
2998623    351
2998638     77
2998809     70
2998821     54
2999052      2
          ...
309260a      2
309260d    514
3092616      1
3092619    403
3092652     27
Length: 3867, dtype: int64

In [51]:
df.groupby("portno").sum()["percent_tna"]

portno
2998623     99.79
2998638     99.89
2998809     99.50
2998821    100.01
2999052      0.08
            ...
309260a      0.10
309260d    100.79
3092616      0.07
3092619    100.06
3092652    118.57
Name: percent_tna, Length: 3867, dtype: float64

In [52]:
df.groupby("portno").get_group("2998623")["percent_tna"].sum()

np.float64(99.78999999999999)

In [53]:
df.groupby(["portno", "security_name"]).size()

portno   security_name
2998623  10YR TNotes MAR1                    1
         5YR T NOTES MAR1                    1
         ALCON INC                           1
         AMERICAN INTERNATIONAL GROUP INC    1
         AMG Capital Trust II                1
                                            ..
3092652  TAKE TWO INTERACTIVE SOFTWR INC     1
         USD Cash                            1
         WORLD WRESTLING ENTMT INC           1
         ZSCALER INC                         1
         ZYNGA INC                           1
Length: 980492, dtype: int64

In [55]:
df[df["portno"] == "2998623"].groupby("report_dt").sum().sort_values("percent_tna")

,portno,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
report_dt,,,,,,,,
2020/11/30,2998623299862329986232998623299862329986232998...,61888,2021/01/082021/01/082021/01/082021/01/082021/0...,99.79,3.817768e+09,1.213476e+10,GENERAL MOTORS COCOGNIZANT TECHNOLOGY SOLS COR...,37045V1019244610617446447181721022052L1038141G...

In [61]:
df.groupby(["portno", "security_name"]).size()

portno   security_name
2998623  10YR TNotes MAR1                    1
         5YR T NOTES MAR1                    1
         ALCON INC                           1
         AMERICAN INTERNATIONAL GROUP INC    1
         AMG Capital Trust II                1
                                            ..
3092652  TAKE TWO INTERACTIVE SOFTWR INC     1
         USD Cash                            1
         WORLD WRESTLING ENTMT INC           1
         ZSCALER INC                         1
         ZYNGA INC                           1
Length: 980492, dtype: int64

In [63]:
df.groupby(["portno", "security_name"]).size() > 1

portno   security_name
2998623  10YR TNotes MAR1                    False
         5YR T NOTES MAR1                    False
         ALCON INC                           False
         AMERICAN INTERNATIONAL GROUP INC    False
         AMG Capital Trust II                False
                                             ...
3092652  TAKE TWO INTERACTIVE SOFTWR INC     False
         USD Cash                            False
         WORLD WRESTLING ENTMT INC           False
         ZSCALER INC                         False
         ZYNGA INC                           False
Length: 980492, dtype: bool

In [60]:
"""
df.groupby(["portno", "security_name"]).size() > 1
"""

df_tmp = df.groupby(["portno", "security_name"]).size()

df_tmp[df_tmp > 1]

portno   security_name
2998623  WELLS FARGO & CO NEW                                               2
3001404  Reliance Industries Ltd ORD                                        2
300251d  J.P. MORGAN MORTGAGE TRUST 28-Dec-2048 176                         2
300283b  ALPHABET INC                                                       2
         BRISTOL MYERS SQUIBB CO                                            2
                                                                           ..
309260d  China Shenhua Energy Co Ltd ORD                                    2
         El Salvador 7.125% 20-Jan-2050                                     2
         Ghana, Republic of (Government) 7.875% 11-FEB-2035                 2
         Gobierno De La Republica De Guatemala 6.125% 01-JUN-2050           2
         Gran Tierra Energy International Holdings Ltd 6.25% 15-FEB-2025    2
Length: 14301, dtype: int64

In [62]:
df["cusip"]

0         37045V10
1         19244610
2         61744644
3         71817210
4         22052L10
            ...
999995    18915M10
999996    05276910
999997    98156Q10
999998    73278L10
999999    45841N10
Name: cusip, Length: 1000000, dtype: object